<select class="multiselect" multiple="multiple" name="memlists">
    <option value="{usrname:'test1',rnumber : 9139}">test1</option>
    <option value="{usrname:'test2',rnumber : 9169}">test2</option>
</select>
