<div class="jumbotron">
    <h3>请先下载模版!<small class="text-error"> Excel打开UTF-8格式的CSV中文有乱码请选择用记事本或其他工具进行编辑</small></h3>
    <p>
        <a role="button" class="btn btn-large btn-primary" href="/download">下载</a> 
    </p>
</div>

<% include cupload %>
